<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename="index.js") }}" defer></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import "{{ url_for('static', filename="index.css") }}";
        input[type=range].vertical {
            writing-mode: vertical-lr;
            direction: rtl;
            vertical-align: middle;
        }
        .icon {
            width: 2em;
            height: 2em;
            vertical-align: -0.125em;
            overflow: visible;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen p-4 relative" {% block body_attrs %}{% endblock %}>
    {% block content %}{% endblock %}
</body>
</html>
