{% from "ui/_lightbox.html" import lightbox %}
{% from "ui/_tabs.html" import tab_container, tab, tab_content_sse %}

{% call tab_container(default='queue') %}
    <ul
        sse-swap="tabs"
        class="flex-col space-y space-y-4 md:me-4 mb-4 md:mb-0 mt-6"
        role="tablist">
        {# {{ tabs|safe }} #}
    </ul>
    <div id="default-tab-content" class="p-6 w-full max-w-5xl">
        {% call tab_content_sse('queue') %}
            {# {{ queue|safe }} #}
        {% endcall %}
        {% call tab_content_sse('skimmer') %}
            {# {{ skimmer|safe }} #}
        {% endcall %}
        {% call tab_content_sse('densityandr') %}
            {# {{ densityandr|safe }} #}
        {% endcall %}
        {% call tab_content_sse('apitof') %}
            {# {{ apitof|safe }} #}
        {% endcall %}
    </div>
{% endcall %}
